@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&family=Vazirmatn:wght@400;500;600;700;800&display=swap');


:root {

  --font-heading: 'Space Grotesk', sans-serif;

  --font-body: 'Manrope', sans-serif;

  --font-persian: 'Vazirmatn', sans-serif;

}