*{

  margin:0;

  padding:0;

  box-sizing:border-box;

}



body{

  overflow-x:hidden;

}



html{

  scroll-behavior:smooth;

}



.app-hidden{

  opacity:0;

}



.app-show{

  animation:pageReveal .8s ease forwards;

}



@keyframes pageReveal{


from{

  opacity:0;

  transform:translateY(20px);

}



to{

  opacity:1;

  transform:translateY(0);

}


}